*{
    box-sizing: border-box;
}
#btn {
    position: fixed;
    z-index: 1000;
    top: 0.9375em;
    right: 0.9375em;
    cursor: pointer;
    -webkit-transition: right 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: right 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#btn div {
    width: 2.1875em;
    height: 0.125em;
    margin-bottom: 0.5em;
    background-color: #343838;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
}
#btn:hover > div {
    box-shadow: 0 0 0.0625em #343838;
}
#btn.active {
    right: 14.375em
}
#btn.active div{
    background-color: #343838;
}
#btn.active:hover > div {
    box-shadow: 0 0 0.0625em #343838;
}
#btn.active #top {
    -webkit-transform: translateY(0.625em) rotate(-135deg);
    -ms-transform: translateY(0.625em) rotate(-135deg);
    transform: translateY(0.625em) rotate(-135deg);
  }
  
#btn.active #middle {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
#btn.active #bottom {
    -webkit-transform: translateY(-0.625em) rotate(-45deg);
    -ms-transform: translateY(-0.625em) rotate(-45deg);
    transform: translateY(-0.625em) rotate(-45deg);
  }
  
#box {
    position: fixed;
    z-index: 999;
    overflow: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 60% 20%;
    grid-template-areas: "icon" "content" "credit";
    top: 0em;
    right: -17.1875em;
    width: 17.1875em;
    opacity: 0;
    padding: 1.25em 0em;
    height: 100%;
    background-color: #efebd8;
    color: #1f1f1f;
    -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  }
  
  #box.active {
    right: 0em;
    opacity: 1;
  }
  
  #items {
    grid-area: content;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  #items .item {
    position: relative;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.9375em 1.875em;
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  
  #items .item:active:hover {
    background-color: #acd1c0;
  }
hr {
    display: block;
    height: 0.0625em;
    width: 60%;
    border: 0;
    border-top: 0.1875em solid #acd1c0;
    margin: 1em 0;
    padding: 0;
}
#credit hr {
  width: 100%;
}
#items:active:hover hr{
  width: 100%;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
#credit {
  grid-area: credit;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#credit .item {
  position: relative;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.9375em 1.875em;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

#credit .item:active:hover {
  background-color: #acd1c0;
}

#credit:active:hover hr{
width: 100%;
-webkit-transition: all 250ms;
transition: all 250ms;
}