body {
    font-family: "Roboto Mono", monospace;
}
button {
    position: relative;
    font-family: inherit;
    border: 0.125em #1f1f1f solid;
    padding: 0.8125em 3.125em 0.8125em;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #1f1f1f;
    margin: 1em;
    font-size: .7em;
    cursor: pointer;
    bottom: 2.5em;
}
button::after{
    content: "";
    background-color: #8bac9c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0.4375em;
    left: 0.4375em;
}
button:active:hover::after{
    top: 0px;
    left: 0px;
}
.inst-tab {
    position: fixed;
    overflow: auto;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 30% auto 20% 20%;
    grid-template-areas: "image" "text" "btn" "back-btn";
    font-size: 1em;
    top: 0em;
    left: 0;
    right: 0;
    bottom: 0em;
    height: 100%;
    width: 100%;
    color: #1f1f1f;
    background-color: #efebd8;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.inst-tab.active{
    height: 0;
}
.inst-tab .btnx{
    position: absolute;
    top: 0.625em;
    left: 0;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
}
.molasse-img{
    grid-column-start: 1;
    grid-area: image;
    background-size: cover;
    background-image: url('../ar_assets/etape1/molasse.jpg');
}
.gneiss-img{
    grid-column-start: 2;
    background-size: cover;
    background-image: url('../ar_assets/etape1/gneiss.jpg');
}
.calcaire-img{
    grid-column-start: 3;
    background-size: cover;
    background-image: url('../ar_assets/etape1/calcaire.jpg');
}
.instructions {
    margin: 1.875em;
    grid-area: text;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span col3-end;
}
/* button:hover{
    background-color: #c5c2b3;
} */
.score {
    position: fixed;
    top: 1em;
    font-size: 2em;
    left: -12.5em;
    transition: all 700ms ease;
    color: white;
}
.score.active {
    left: 1em;
}
.centered.active{
    bottom: 2.5em;
}
.centered {
    height: 10vh;
    position: fixed;
    bottom: -10em;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    text-align: center;
    width: 100%;
    left: 0;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.gneiss-btn {
    grid-column-start: 1;
}
.calcaire-btn {
    grid-column-start: 2;
}
.molasse-btn {
    grid-column-start: 3;
}
.start-btn{
    grid-area: btn;
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
}
.step1-btn{
    grid-area: back-btn;
    grid-column-start: 1;
    justify-self: start;
}
.itin-btn{
    grid-row-start: 4;
    grid-column-start: 3;
    justify-self: end;
}
.ui-dialog {
    position: absolute;
    background-color: #efebd8;
    color:#1f1f1f;
    z-index: 90;
    text-align: center;
}
.no-close .ui-dialog-titlebar-close {
    display: none;
}
.ui-button {
    bottom: auto;
}