*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100vw;
}
#map {
    height: 100%;
    width: 100vw;
    z-index: 1;
}
.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer
}

.mapboxgl-ctrl .monitor_button{
    background-color: #e0490e;
    top: 100px;
    left: 100px;
    border-radius: 40px;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    margin: 7px;
    cursor: pointer;
}