*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100vw;
}
#map {
    height: 100%;
    width: 100vw;
    z-index: 1;
}
.itin-go {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    z-index: 2;
    border-radius: 40px;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.itin-go .itin-btn{
    background-color: rgb(108, 168, 118);
    border-radius: 40px;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    margin: 7px;
    cursor: pointer;
}

.itin-go.active{
    left: 700px;
    transition: all 1s ease;
}

/* .itin-go.active .itin-btn.active{
    bottom: -100px;
    transition: all 0.5s ease;
} */